<div class="visits-record">
  <h1>VISITAS</h1>
  <form class="visits-record__form">
    <p>Fecha</p>
    <div class="visits-record__container">
      <input type="date" class="input">
      <input type="date" class="input">
      <div class="visits-record__form-actions">
        <div class="button-group">
          <button class="button button-delete">Limpiar</button>
          <button class="button button-search">Buscar</button>
        </div>
        <div class="button-icon">
          <button class="button button-register">
            <img src="/assets/logos/lpus.svg" alt="icon">
            REGISTRAR VISITA
          </button>
        </div>
      </div>
    </div>
  </form>

<table class="table">
  <thead>
    <tr>
      <th scope="col">VISITANTE</th>
      <th scope="col">FECHA DE VISITA</th>
      <th scope="col">HORA</th>
      <th scope="col">ADMINISTRADOR</th>
      <th scope="col">ESTATUS</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Montserrat Carolina García Arreguin</th>
      <td>20/01/2024</td>
      <td>08:00-09:00</td>
      <td>Alan Gama Ramos</td>
      <td><span class="span-success">APROBADA</span></td>
    </tr>
    <tr class="even">
      <th scope="row">Montserrat Carolina García Arreguin</th>
      <td>20/01/2024</td>
      <td>08:00-09:00</td>
      <td>Alan Gama Ramos</td>
      <td><span>APROBADA</span></td>
    </tr>
    <tr>
      <th scope="row">Montserrat Carolina García Arreguin</th>
      <td>20/01/2024</td>
      <td>08:00-09:00</td>
      <td>Alan Gama Ramos</td>
      <td><span>APROBADA</span></td>
    </tr>
    <tr class="even">
      <th scope="row">Montserrat Carolina García Arreguin</th>
      <td>20/01/2024</td>
      <td>08:00-09:00</td>
      <td>Alan Gama Ramos</td>
      <td><span>APROBADA</span></td>
    </tr>
    <tr>
      <th scope="row">Montserrat Carolina García Arreguin</th>
      <td>20/01/2024</td>
      <td>08:00-09:00</td>
      <td>Alan Gama Ramos</td>
      <td><span>APROBADA</span></td>
    </tr>
    <tr class="even">
      <th scope="row">Montserrat Carolina García Arreguin</th>
      <td>20/01/2024</td>
      <td>08:00-09:00</td>
      <td>Alan Gama Ramos</td>
      <td><span>APROBADA</span></td>
    </tr>
  </tbody>
</table>
</div>
