<div class="visits-record">
  <h1>VISITAS</h1>
  <form class="visits-record__form">
    <p>Fecha</p>
    <div class="visits-record__container">
      <div class="visits-record__inputs">
        <mat-form-field appearance="outline">
          <mat-label>De: DD/MM/AAAA</mat-label>
          <input matInput [matDatepicker]="datepicker">
          <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
          <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancel</button>
              <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>A: DD/MM/AAAA</mat-label>
          <input matInput [matDatepicker]="datepicker2">
          <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
          <mat-datepicker-toggle matIconSuffix [for]="datepicker2"></mat-datepicker-toggle>
          <mat-datepicker #datepicker2>
            <mat-datepicker-actions>
              <button mat-button matDatepickerCancel>Cancel</button>
              <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
            </mat-datepicker-actions>
          </mat-datepicker>
        </mat-form-field>
      </div>
      <div class="visits-record__form-actions">
        <div class="button-group">
          <button mat-raised-button class="button-delete" type="button" color="warn">Limpiar</button>
          <button mat-raised-button class="button-search" type="button">Buscar</button>
        </div>
        <div class="button-icon">
          <button mat-fab extended class="button-register" type="button" [routerLink]="['/add-visit']">
            <mat-icon>add</mat-icon>
              Registrar visita
          </button>
        </div>
      </div>
    </div>
  </form>

  <app-visits-record-table />
</div>
