<div class="new-visit">
  <div class="new-visit__container">
    <h1>REGISTRAR VISITA</h1>
    <form class="form">
      <div class="row">
        <div class="form-group">
          <span>Nombre</span>
          <mat-form-field appearance="outline">
            <input matInput>
          </mat-form-field>
        </div>
        <div class="form-group">
          <span>Apellido Paterno</span>
          <mat-form-field appearance="outline">
            <input matInput>
          </mat-form-field>
        </div>
        <div class="form-group">
          <span>Apellido Materno</span>
          <mat-form-field appearance="outline">
            <input matInput>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <span>Relación con el visitante</span>
          <mat-form-field appearance="outline">
            <mat-select>
              @for (opt of options; track opt) {
                <mat-option [value]="opt">{{opt}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-group">
          <span>Acompañantes</span>
          <mat-form-field appearance="outline">
            <input matInput>
          </mat-form-field>
        </div>
        <div class="form-group">
          <span>Día de visita</span>
          <mat-form-field appearance="outline">
            <input matInput [matDatepicker]="picker">
            <mat-hint>DD/MM/AAAA</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <span>Hora de acceso</span>
          <mat-form-field appearance="outline">
            <input matInput type="time">
          </mat-form-field>
        </div>
        <div class="form-group">
          <span>Tolerancia</span>
          <mat-form-field appearance="outline">
            <mat-select>
              @for (opt of tolerancy; track opt) {
                <mat-option [value]="opt">{{opt}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-groups">
          <mat-slide-toggle>Uso de estacionamiento</mat-slide-toggle>
        </div>
      </div>

      <div class="row">
        <div class="form-group custom-width">
          <label for="Comentarios">Comentarios</label>
          <mat-form-field appearance="outline">
            <textarea matInput id="Comentarios"></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="button-actions">
        <button class="button-delete" mat-raised-button type="button">Cancelar</button>
        <button class="button-search" mat-raised-button type="button" [routerLink]="['/visit-qr']">Guardar</button>
      </div>
    </form>
  </div>
</div>
