<div class="new-visit">
  <app-topbar />
  <div class="new-visit__container">
    <h1>REGISTRAR VISITA</h1>
    <form class="form">
      <div class="row">
        <div class="form-group">
          <label for="Name">Nombre</label>
          <input type="text" id="Name">
        </div>
        <div class="form-group">
          <label for="App">Apellido Paterno</label>
          <input type="text" id="App">
        </div>
        <div class="form-group">
          <label for="Apm">Apellido Materno</label>
          <input type="text" id="Apm">
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label for="Name">Relación con el visitante</label>
          <select name="" id="">
            <option>Selecciona</option>
          </select>
        </div>

        <div class="form-group">
          <label for="App">Acompañantes</label>
          <input type="text" id="App">
        </div>
        <div class="form-group">
          <label for="da">Día de visita</label>
          <input type="date" id="da">
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label for="Name">Hora de acceso</label>
          <input type="time" id="Name">
        </div>
        <div class="form-group">
          <label for="App">Tolerancia</label>
          <select name="" id="">
            <option>Selecciona</option>
          </select>
        </div>
        <div class="form-groups">
          <p>Uso de estacionamiento</p>
          <div class="slideOne">
            <input type="checkbox" value="false" id="slideOne" name="check" checked />
            <label for="slideOne"></label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label for="Comentarios">Comentarios</label>
          <textarea id="Comentarios" cols="30" rows="10"></textarea>
        </div>
      </div>

      <div class="button-actions">
        <button class="button button-delete" type="button">Cancelar</button>
        <button class="button button-search" type="button" [routerLink]="['/visit-qr']">Guardar</button>
      </div>
    </form>
  </div>
</div>
