<div class="sidebar">
  <div class="sidebar__header">
    <img class="sidebar__header-img" src="/assets/logos/side.png"/>
    <div class="sidebar__header-title">
      <p>EDIFICIO 1</p>
    </div>
  </div>
  <div class="sidebar__list">
    <div class="sidebar__list-item">
      <img alt="dashboard" src="/assets/logos/icon-dashboard.svg">
      <p>DASHBOARD</p>
    </div>
    <div class="sidebar__list-item">
      <img alt="visitas" src="/assets/logos/icon-finanzas.svg">
      <p>FINANZAS</p>
      <img alt="chevron" src="/assets/logos/icon-navigation-chevron.svg">
    </div>
    <div class="sidebar__list-item">
      <img alt="dashboard" src="/assets/logos/icon-usuarios.svg">
      <p>USUARIOS</p>
    </div>
    <div class="sidebar__list-item">
      <img alt="dashboard" src="/assets/logos/icon-visitas.svg">
      <p>VISITAS</p>
      <img alt="chevron" src="/assets/logos/icon-navigation-chevron.svg">
    </div>
    <div class="sidebar__list-subitem">
      <p>VISITAS</p>
    </div>
    <div class="sidebar__list-subitem">
      <p>PROXIMAS</p>
    </div>
    <div class="sidebar__list-subitem">
      <p>BITÁCORA</p>
    </div>
  </div>
</div>
